<% if current_user %>
<h3 class="panel-title">Libraries</h3>
<div id="logs" class="trasitions-enabled">
  <% @users.each do |user| %>
  <div class="box panel panel-default">
    <div class="panel-body">
      <p><img id="avatar" src='<%= user.avatar_hash %>'><a href="<%= user_path user %>"><%= user.name %></a>  
  	</div>
  </div>
  	<% end %>
  </div>
  <% end %>





